section {
    
    border-radius: 6px;
    padding: 0px;
    margin-bottom: 2em;
  } 

.footer2-bacbor {
    background: #232F3E;
    padding:10px 0px;
    border-top: 1px solid #898989;
}
.footer2-content {
    font-size:14px;
    color:#fff;
    text-align:center;
}